<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': post.loveIts > 0,
                'list-group-item-danger': post.loveIts < 0}">
  <h4>{{ post.title }} -- {{post.created_at | date: 'short'}}</h4>
  <p>{{post.content}}</p>
  <button class="btn btn-success"
          (click)="onLoveIt()">Love it</button>
  <button class="btn btn-danger"
          (click)="onDontLoveIt()">Don't love it</button>
  <button class="btn btn-primary"
          (click)="onDelete()">Supprimer</button>
</li>
